/**********************
MAIN
**********************/
.top{
    background-image: url("../img/header.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: none;
    /*margin-top: -5rem; /* Correction de Jénaïc */
    position: static;
    z-index: -1;
}

main h4{
    color: black;
}

main h5{
    color: black;
}

main li{
    padding-top: 7px;
    /* padding-bottom: 5px; */
}


/**********************
PLAN GOOGLE MAPS
**********************/
.mapouter .gmap_canvas iframe{
    width: 100%;
    height: 50vh;
}

.mapouter{
    position:relative;
    text-align:right;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
}