/**********************
MAIN
**********************/
main div h3{
    font-family: 'oswald', sans-serif;
    font-weight: 100;
    text-align: center;
    color: black;
}

main h3, main h4{
    color: black;
}

/*A corriger*/
/* .thumb-article{
    width: 284px;
    height: 160px; */
}



