/**********************
HEADER
**********************/
.top{
    background-image: url("../img/header.jpg");
}
/**********************
MAIN
**********************/
main div h3{
    font-family: 'oswald', sans-serif;
    font-weight: 100;
    text-align: center;
    color: black;
}

main h3, main h4{
    color: black;
}