/**********************
PRINCIPAL
**********************/
/* body{

} */

@font-face{ /* à mettre dans le head du CSS */
    font-family: "courgette";
    src: url("../fonts/Courgette/Courgette-Regular.ttf")
}

@font-face{ /* à mettre dans le head du CSS */
    font-family: "oswald";
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf")
}

h1, h2, h3, h4, h5, h6, span, label{
    font-family: 'courgette', cursive;
    font-weight: 100;
    color: white;
}

p, li, a, button{
    font-family: 'oswald', sans-serif;
    list-style:none;
    text-decoration: none;
}

ul{
}

li a {
}

/**********************
NAV
**********************/
nav{
    position: absolute;
    z-index: 1;
    border-bottom: 1px solid rgba(255, 255, 255, .15);
}

/**********************
HEADER
**********************/
.top{
    background-image: url("../img/header.jpg");
    background-position-x: center;
    background-position-y: center;
    background-repeat: none;
    /* text-align: center; */

    /* background-size: cover; Ne correspond pas à ce qui est demandé*/

    background:  url("../img/header.jpg") center center none;

    /*margin-top: -5rem; /* Correction de Jénaïc */
    position: static;
    z-index: -1;
}

header{
    position: relative;
    z-index: -0; 
}

div.bg{
    background-color: rgba(0, 0, 0, .8);
    padding-bottom: 6rem;
}

img#logo{
    width: 80px;
    height: auto;
}

/**********************
MAIN
**********************/
main{
    color: black;
}

main h6{
    color: black;
}

main div h3{
    font-family: 'oswald', sans-serif;
    font-weight: 100;
    text-align: center;
    color: black;
}

main h3, main h4{
    color: black;
}


.thumb-article{
    width: 284px;
    height: 160px;
}


main .share ul{

    text-decoration: none;
    display: flex;
}

main .share li{

}

main i{

    padding: 3px 5px;
    border-radius: 1px;
    margin-right: 2px;
}

main a{
    color: black;
    text-decoration: none;
    vertical-align: left;
}

main .btn{
    
}


/**********************
FOOTER
**********************/
footer{
    background-color: black;
    color: white;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 112px;
    padding-right: 112px;
}

footer ul{
    padding-left: 0px;
    padding-right: 0px;
}

footer .share ul{
    color: black;
    text-decoration: none;
    display: flex;
}

footer i{
    background-color: white;
    padding: 3px 5px;
    border-radius: 1px;
    margin-right: 2px;
}

footer a{
    color: white;
    text-decoration: underline;
    vertical-align: left;
}

footer .share a{
    color: black;
}

footer .btn{
    background-color: black;
}

footer .email{
    width:200px;
}

/**********************
TESTS
**********************/


/**/