/**********************
HEADER
**********************/
.top{
    background-image: url("../img/articles/suzette/suzette-header.jpg");
}



header h2{
    background-color: #27180ad5;
}

div.bg{
    padding-bottom: 0em;
}

div.bg-head{
    padding-top: 4em;
    padding-bottom: 7em;
}

/**********************
MAIN
**********************/
main h4{
    color: black;
}

.big-letter{
    display: flex;
    float: left;
}

    display: flex;
}

main p{
    padding-top: 2em;
}