/**********************
HEADER
**********************/
.top{
    background-image: url("../img/articles/suzette/suzette-header.jpg");
}

header h2{
    background-color: #27180ad5;
}

div.bg{
    padding-bottom: 0em;
}

div.bg-head{
    padding-top: 4em;
    padding-bottom: 7em;
}

/**********************
MAIN
**********************/
main h4, main h5{
    color: black;
}

    /*Placement de la lettrine*/
    .emancipation{
        float: left;
        position: absolute;
    }

    .lettrine{
        color: gray;
        font-size: 3em;
        font-family: 'oswald', sans-serif;
        margin-top: 0.12em;
    }

    .lettrine-ghost{
        /* background-color: red; */
        height: 24px;
        width: 19px;
        float: left;
    }
    /* /placement de la lettrine */


.head-of-post img.people{
    width: 150px;
    height: auto;
    border-radius: 50%;
    float: left;
}

main .discussion img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 10px;
}

.v-marger-img-people {
    min-height: 150px;
}

.v-marger-img-logo {
    min-height: 100px;
    margin: 15px 0px 15px 0px;
}

main .answer img{
    opacity: 50%;
}

main .answer{
    margin-left: 100px;
}

.discussion{
    margin-top: 60px;
    margin-bottom: 120px;
}

.discussion p{
    margin-bottom: 0px;
}
/* .head-of-post{
    margin-bottom: 100px;
} */