/**********************
TESTS
**********************/

/**/

/**********************
PRINCIPAL
**********************/
/* body{

} */

@font-face{
    font-family: "courgette";
    src: url("../fonts/Courgette/Courgette-Regular.ttf")
}

@font-face{
    font-family: "oswald";
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf")
}

h1, h2, h3, h4, h5, h6, span, label{
    font-family: 'courgette', sans-serif;
    font-weight: 100;
    color: #ffffff;
}

p, ul, li, a, button{
    font-family: 'oswald', sans-serif;
    
}

li a {
    text-decoration: underline;
}

/**********************
NAV
**********************/
nav{
    /* position: absolute;
    z-index: 1; */
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    color: #ffffff;
}

/**********************
HEADER
**********************/
header{
    background-image: url("../img/header.jpg");
    background-position: center;
    background-size: cover;
    color: #ffffff;
    /* left: 0px;
    right: 0px;
    top: 0px; */
    /* position: absolute ;
    z-index: -1;  */
    /* margin-top: -5rem; /* Correction de Jénaïc */
}

div.opacity{
    background-color: #000000cc;
    position: static;
    z-index: 0;
    padding-top: 7rem;
    padding-bottom: 4rem;
}

img#logo{
    width: 80px;
    height: auto;
}

/**********************
MAIN
**********************/
main{
    color: #000000;
}

main div h2{
    font-family: 'courgette', sans-serif;
    color: #ffffff;
    font-weight: 100;
}

div.mainfooter{
    position: absolute ;
    margin-top: 20rem;
}

/**********************
FOOTER
**********************/
footer{
    background-color: #000000;
    color: #ffffff;
    margin: 0px;
}

footer div ul mi a{
    color: #000000;
}