/**********************
TESTS
**********************/
body{
    background-color: #000000;
}
/**/

/**********************
PRINCIPAL
**********************/
@font-face{
    font-family: "courgette";
    src: url("../fonts/Courgette/Courgette-Regular.ttf")
}

@font-face{
    font-family: "oswald";
    src: url("../fonts/Oswald/Oswald-VariableFont_wght.ttf")
}

h1, h2, h3, h4, h5, h6{
    font-family: 'courgette', sans-serif;
}

p, span, li{
    font-family: 'oswald', sans-serif;
}

/**********************
NAV
**********************/
nav h1{
    color: #ffffff;
}

/**********************
HEADER
**********************/
.bg{
    background-image: url("../img/header.jpg");
    opacity: 0.25 ;
    background-position: center;
    background-size: cover;
    color: #ffffff;
}

/**********************
MAIN
**********************/
main{
    color: #000000;
}

/**********************
FOOTER
**********************/
footer h4{
    color: #ffffff;
}
