/**********************
HEADER
**********************/
.top{
    background-image: url("../img/team/team.jpg");
}

div.bg{
    padding-bottom: 7em;
}

/**********************
MAIN
**********************/
main img.people{
    width: 250px;
    height: auto;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

main p{
    text-align: justify; /* juste pour le plaisir des yeux ;) */
}
