/**********************
HEADER
**********************/
.top{
    background-image: url("../img/team/team.jpg");
}
/**********************
MAIN
**********************/
main h5{
    color: black;
    font-weight: bold;
}

main figure h6{
    font-family: 'oswald', sans-serif;
    color: black;
}

main img.people{
    width: 150px;
    height: auto;
    border-radius: 50%;
}

main a{
    text-decoration: none;
}